body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #f3f4f6;
      color: #333;
    }
footer {
      background-color: #1f2937;
      color: white;
      text-align: center;
      padding: 1rem;
      margin-top: 2rem;
    }

    
.c{
    color: white;
    text-align: left;
    font-size: 20px;
    background-color: lightblue;
    padding: 10px;


}
.n{
    background-color: lightseagreen;
    color: white;
    padding: 10px;
    text-align: right;
}
