body{
    padding: 0;
    margin: 0;
    background-color: cornflowerblue;
}
fieldset{
    width: 400px;
    border-color: aqua;
}
legend{
    text-align: center;
}
label{
    color: blue;
}
button{
    background-color: crimson;
    color: white;
}